<!DOCTYPE html>
<html>

<head>
  <title>
    Encurtador
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <header>
      <h1>
        Encurtador
      </h1>
      <p>
        Estatísticas de acesso
      </p>
    </header>
    <form method="POST" action="/new">
      <div>
        <input type="text" name="url">
        <div>
          <button type="submit">Encurtar</button>
        </div>
      </div>
    </form>

  </div>
</body>

</html>